<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome}}</title>
</head>
<body>
   <a href="/">Voltar para a Home</a>    
    <form action="/salvar">
        <input type="text" name="marca" id ="marca" placeholder="Digite a marca"><br/>
        <input type="text" name="modelo" id ="modelo"placeholder="Digite o modelo"><br/>
        <input type="text" name="categoria" id ="categoria"placeholder="Digite a categoria"><br/>
        <input type="text" name="ano" id ="ano"placeholder="Digite o ano"><br/>

        <input type="submit" value="Salvar" >
    </form>
</body>
</html>