<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Avaliacao}}</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
        <table id="tabela-avaliacao">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Avaliacao</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {%for av in lista_avaliacao%}
                <tr>
                    <td>{{av.data}}</td>
                    <td>{{av.avaliacao}}</td>
                    <td>{{av.nota}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>

</body>
</html>